<!DOCTYPE html></div>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/site-icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    
    <!--Socket.io-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <!--Custom scripts-->
    <script src="/js/race.js"></script>
    <title>Keyboard races</title>
</head>
<body>
    <header>
        <button type="button" class="btn btn-dark logout-btn" id="logout-btn"><a href="logout">Logout</a></button>
    </header>
    <div class="container">

        <div  id="indicator-placeholder"></div>

        <div class="text-lable" id="game-info-placeholder"></div>

        <h3 class="title race-title" id="time-value-title"></h3>

        <div class="race-text-wrapper" id="race-text"></div>

        <div class="form-group race-textinput">
                <label class="text-lable">Enter your text here</label>
                <textarea class="form-control" id="race-input" rows="7"></textarea>
        </div>
    </div>
</body>
</html>
